In [ ]:
#Here's a simple example of creating a DataFrame using pandas in Python
#This creates a DataFrame with columns 'Name', 'Age', and 'City' using the provided data.

In [1]:
import pandas as pd

In [2]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

In [3]:
# Creating DataFrame
df = pd.DataFrame(data)

In [4]:
# Displaying the DataFrame
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [ ]:
#You can change the name of a column in a pandas DataFrame using the rename method. Here's an example
#In this example, the 'Age' column is renamed to 'Years' using the rename method.
#The inplace=True parameter ensures that the changes are made directly to the original DataFrame.

In [5]:
# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [6]:
# Renaming the 'Age' column to 'Years'
df.rename(columns={'Age': 'Years'}, inplace=True)

In [7]:
# Displaying the DataFrame after renaming
print("\nDataFrame after renaming:")
print(df)

DataFrame after renaming:
      Name  Years           City
0    Alice     25       New York
1      Bob     30  San Francisco
2  Charlie     22    Los Angeles

In [ ]:
# If you want to change the index label of a specific row, you can use the rename method. Here's an example
#In this example, the index label 'Person2' is renamed to 'John' using the rename method with the inplace=True parameter to modify the original DataFrame.

In [8]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

In [9]:
# Creating DataFrame with custom index labels
df = pd.DataFrame(data, index=['Person1', 'Person2', 'Person3'])

In [10]:
# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
            Name  Age           City
Person1    Alice   25       New York
Person2      Bob   30  San Francisco
Person3  Charlie   22    Los Angeles

In [11]:
# Renaming the index label 'Person2' to 'John'
df.rename(index={'Person2': 'John'}, inplace=True)

In [12]:
# Displaying the DataFrame after renaming
print("\nDataFrame after renaming:")
print(df)

DataFrame after renaming:
            Name  Age           City
Person1    Alice   25       New York
John         Bob   30  San Francisco
Person3  Charlie   22    Los Angeles

In [ ]:
#You can change the content of a specific cell in a pandas DataFrame using the .at[] indexer or the .loc[] indexer. Here's an example using the .at[] indexer:
#In this example, the age of the person in the second row is changed from 30 to 32 using the .at[] indexer.
#You can similarly use the .loc[] indexer for more complex row/column selection scenarios.

In [13]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

In [14]:
# Creating DataFrame
df = pd.DataFrame(data)

In [15]:
# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [16]:
# Changing the content of the cell in the second row, 'Age' column
df.at[1, 'Age'] = 32

In [17]:
# Displaying the DataFrame after changing the cell content
print("\nDataFrame after changing cell content:")
print(df)

DataFrame after changing cell content:
      Name  Age           City
0    Alice   25       New York
1      Bob   32  San Francisco
2  Charlie   22    Los Angeles

In [ ]:
#Here's an example of changing the content of a cell using the .loc[] indexer
#In this example, the age of the person in the second row is changed from 30 to 32 using the .loc[] indexer.
#This indexer allows you to specify both the row and column using labels, making it versatile for more complex selections and modifications in your DataFrame.

In [18]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

In [19]:
# Creating DataFrame
df = pd.DataFrame(data)

In [20]:
# Displaying the original DataFrame
print("Original DataFrame:")
print(df)

Original DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22    Los Angeles

In [21]:
# Changing the content of the cell in the second row, 'Age' column
df.loc[1, 'Age'] = 32

In [22]:
# Displaying the DataFrame after changing cell content
print("\nDataFrame after changing cell content:")
print(df)

DataFrame after changing cell content:
      Name  Age           City
0    Alice   25       New York
1      Bob   32  San Francisco
2  Charlie   22    Los Angeles